html, body, .carousel{
    height: 100%;
}
input{
    display: none;
}
.carousel{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carousel-images{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    display: flex;
    width: 300%;
    height: 100%;
    transition: 0.5s;
}
.carousel-images img{
    width: 100;
    object-fit: cover;
    margin: auto;
}
.carousel-controls{
    height: 100%;
    justify-content: flex-end;
}
.carousel-controls, .dots{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
label{position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 70% 30% 62% 49%/60% 62% 48% 44%;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
.header h3{
    -webkit-background-clip: text;
    color: transparent;
    background: linear-gradient(to right, blue, red, black);
}
.dots{
    left: 0;
    bottom: 0;
    height: 400px;
    background: linear-gradient(transparent,#000 90%);
    gap: 12px;
    justify-content: center;
    padding-bottom: 50px;
}
input:nth-child(1):checked ~ .dots label:nth-child(1),
input:nth-child(2):checked ~ .dots label:nth-child(2),
input:nth-child(2):checked ~ .dots label:nth-child(3),
input:nth-child(2):checked ~ .dots label:nth-child(4),
input:nth-child(3):checked ~ .dots label:nth-child(5){
    background: rgba(255, 255, 255, 0.5);
}
input:nth-child(1):checked ~ .carousel-images{
    translate: 0;
}
input:nth-child(2):checked ~ .carousel-images{
    translate: -100vw;
}
input:nth-child(3):checked ~ .carousel-images{
    translate: -200vw;
}
input:nth-child(4):checked ~ .carousel-images{
    translate: -300vw;
}
input:nth-child(5):checked ~ .carousel-images{
    translate: -400vw;
}
